<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	Has been changed to meet this sites requirements specifically text, and images.
-->
<html>
	<head>
		<title>VirtuSchools</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<link rel='shortcut icon' href='images/logo2.ico' type='image/x-icon' />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">VirtuSchools</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li>
								<a href="#">About</a>
								<ul>
									<li>
										<a href="/education">Schools</a>
									</li>
									<li>
										<a href="/contact">Creators/Contact</a>
									</li>
								</ul>
							</li>
							<%if (!user) { %>
								<li><a href="/login">Login</a></li>
								<li><a href="/login" class="button special">Sign Up</a></li>
								<% } else { %>
									<li><a href="/logout">Logout</a></li>
									<li><a href="/account" class="button special">My Profile</a></li>
									<% } %>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Contact/Creators</h2>
							<p>Reach us with your questions and learn more about us.</p>
						</header>
						<div class="row 150%">
							<div class="4u 12u$(medium)">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Contact</h3>
											<p>Send us a message on social media at https://www.facebook.com/virtuschools/.</p>
										</section>
										<hr />
									</section>

							</div>
							<div class="8u$ 12u$(medium) important(medium)">

								<!-- Content -->
									<section id="content">
										<!-- <a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a> -->
										<h3>Created with Purpose.</h3>
										<p>After completing entry level college courses at the University of Missouri Science and Technology, Seth Kitchen, found a need for better online assessment software.
										   Having used systems like Pearson Labs and Wiley Plus, Seth saw the only systems available only graded a final answer. Rather than picking out the concepts a student
										   already knew and what he/she had not yet learned, the system simply deducted a blanket percentage and displayed a paragraph of text from a textbook. Simply forgetting a negative
										   sign was graded the same as guessing something random. Reading a paragraph from the textbook would not tell a student that they forgot a negative sign and the student would go
										   through the same process he/she had already done and likely would end up with the same magnitude having no idea where they went wrong.
										</p>
										<p>Seth met a Mathematics and Statistics professor on campus, Dr. Matt Insall, who was working on partial credit grading algorithms and VirtuSchools was born. VirtuSchools
											aims to create better assessment programs that utilize 21st century technology. Future work will create artifical tutors that can answer student questions as well as the 
											best professors in the world, 3D worlds where learning is fun and applicable, and Mixed Reality/Augmented Reality apps.
										</p>
									</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/virtuschools" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; VirtuSchools LLC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
			
	</body>
</html>