<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Wild Blue Yonder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<audio src="music/militarymedley.mp3" autoplay>
							<p>If you are reading this, it is because your browser does not support the audio element.     </p>
						</audio>
						<h1><a href="index.html">Wild Blue Yonder</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<%if (!user) { %>
												<li><a href="/login">Login</a></li>
												<li><a href="/login">Sign Up</a></li>
											<% } else { %>
												<li><a href="/logout">Logout</a></li>
												<li><a href="/account" class="button special">My Profile</a></li>
											<% } %>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Wild Blue Yonder</h2>
							<p>Support our troops beyond the battle field<br />
							Buy American, made by veterans, for you<br />
							</p>
							<ul class="actions">
								<li>
									<form id="search" method="post" action="/search">
										<input style="width: 600px;" type="text" name="data" placeholder="Search..">
										<input type="submit" value="Search" />
									</form>
								</li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Support Hard Working Veterans<br />
									Reward the companies who provide more then fanfare for those who risked everything</h2>
								<p>Wild Blue Yonder is the eCommerce gateway to a $2 Trillion Veteran Economy<br />
									3 Million Veteran Owned Businesses, 20 Million Veteran Consumers.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-fighter-jet major style1"><span class="label">Air Force</span></span></li>
								<li><span class="icon fa-ship major style2"><span class="label">Navy</span></span></li>
								<li><span class="icon fa-crosshairs major style3"><span class="label">Army/Coast Guard/Marines</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
				<section id="two" class="wrapper alt style2">
					<section class="spotlight">
						<div class="image"><img src="images/echo.jpg" alt="" /></div><div class="content">
							<h2>Amazon Echo  $30 <br />
							Offered By: Never Truly Alone</h2>
							<p>Get one of the most popular talking pucks of the holiday season, able to listen, respond, play music, play games, and tell you the weather if you don't want to use a window!</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="images/switch.jpg" alt="" /></div><div class="content">
							<h2>Nintendo Switch $299.99<br />
							Offered By: Seth Kitchen</h2>
							<p>From the people who made you buy the new station simply to play the next iteration of the same 'crush male siblings' game, be the next to play a game that's been out for over six years everywhere else, "skyrim" on the go.</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="images/beat.jpg" alt="" /></div><div class="content">
							<h2>Beats by Dre  $129.99<br />
							Offered By:Sounds Of Silence </h2>
							<p>While the sponsor still wants to be paid for name dropping constant exposure, get a set of headphones which silence the world to let you hear nothing but the music.  caution: do not use while operating units of transportation, including but not limited to: cars, trains, bikes, or shoes.</p>
						</div>
					</section>
				</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Seth Kitchen and Corey Kitsch</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
		<!-- Scripts -->
		<script>
			document.getElementById('searchTxt').onkeypress = function(e) {
				var event = e || window.event;
				var charCode = event.which || event.keyCode;

				if ( charCode == '13' ) {
					$.ajax({
						type: "POST",
						url: "/search",
						data: {data: document.getElementById("searchTxt").value},
						dataType: "json",
						success: function (data, textStatus, jqXHR) {
							console.log(data);
							document.getElementsByTagName("body")[0].innerHtml=data;
						}
					});
				}
			}
		</script>
	</body>
</html>