<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Spectral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Spectral</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<%if (!user) { %>
												<li><a href="/login">Login</a></li>
												<li><a href="/login">Sign Up</a></li>
											<% } else { %>
												<li><a href="/logout">Logout</a></li>
												<li><a href="/account" class="button special">My Profile</a></li>
											<% } %>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

		<!-- Main -->
		<article id="main">
			<header>
					<h2>Sell An Item:</h2>
					<p>Edit the details of a product and post it on our site.</p>
				</header>
				<section class="wrapper style5">
				<div class="row 150%">
					<div class="4u 12u$(medium)">

						<!-- Sidebar -->
						<section id="sidebar">
							<section>
								<h3>Product Details</h3>
								<p>Include unit cost, quantity, pick-up available, and an image, so buyers can filter. </p>
							</section>
						</section>

					</div>
					<div class="8u$ 12u$(medium) important(medium)">

						<!-- Content -->
						<section id="content">
						
							<h2>Current Items</h2>
							
							<hr style="border: dashed 3px;" />

							<h2>New Item </h2>
							<form method='post' action='/PostNewItem'>
								<strong>Title/Name:</strong><input style="color:black;" id="newitemname" name="newitemname" type="text" /><br>
								<strong>Cost:</strong> <input id="newitemcost" name="newitemcost" type="text" /><br>
								<strong>Quantity Available:</strong> <input id="newitemquantity" name="newitemquantity" type="text" /><br>
								<strong>Pick-up available?</strong> <input id="newitempickup" name="newitempickup" type="text" /><br>
								<strong>Image Link: </strong> <input id="newitemimage" name="newitemimage" type="text" /><br>
								<input type="submit" value="Post"><br><br>
							</form>
										
							<hr style="border: dashed 3px;" />

							<style>
								div.transbox {
									opacity: 0.65;
								}
							</style>
						</section>
					</div>
				</div>
			</div>
		</div>
		</section>
		</article>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/virtuschools" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; VirtuSchools. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>

</body>

</html>